
.top-links {
  display: none; 
}

/* 윈도우 크기가 900px 이하일 때 */
@media only screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }

  .top-links {
    display:block;
    border: solid 1px;
    padding: 20px;
    background-color: white;
    color: #fff;
    
  }
  .top-links a{
    display: inline-table;
    border:1px solid #000;
    margin:auto ;
    text-decoration: none;
  }
}



.sidebar h2{
  position: relative;
  margin-top: 30px;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  align-items: flex-start;
}

.sidebar {
  position: relative;
  width: 200px;
  background-color:white;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 40px;
  bottom: 0;
  margin-left: 0;

}

.navi-links {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.navi-links a {
  color: #919191;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
  margin-left: 10px;
  text-decoration: none;
}

.navi-links a:hover {
  color: #000;
  font-weight: bold;
}



.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  
}

.product-list li {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  align-items:center;
}

.product-list img {
  display:table;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.contact-section {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.write-btn{

  margin: 0 auto;
  height: 40px; 
  width: 100px; 
  background-color: black; 
  color: white; 
}
.write-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}